/* Ids */



/* Classes */

.logo{
    display: inline-block;
}

.logo img{
    margin: 25px;
    width: 75px;
    height: 75px;
    vertical-align: middle;
}

.logo span{
    display: inline;
    vertical-align: middle;;
    font-size: 28px;
}

.navigation{
    float: right;
    cursor: default;
    margin: 40px 40px 0px 0px;
}

.navigation a{
    color: #4ecca3;
    text-decoration: none;
    font-size: 24px;
    margin: 20px;
}

/* Tags */

body{
    margin: 0px;
    background: #393e46;
}

header{
    background: #232931;
    color: #4ecca3;
}

/* Other */

*{
    font-family: 'PT Sans', sans-serif;
}

/* Other Screen Sizes */

/* Laptops */

@media (max-width: 1350px) {

}

/* Tablets */

@media (max-width: 1024px) {

}

/* Mobile */

@media (max-width: 850px) {

}

/* Smaller Mobile */

@media (max-width: 600px) {

}
