/* Ids */



/* Classes */

.logo img{
    margin: 25px;
    width: 75px;
    height: 75px;
    vertical-align: middle;
}

.logo span{
    display: inline;
    vertical-align: middle;
    color: #7de2d1;
    font-size: 28px;
}

/* Tags */

body{
    margin: 0px;
}

header{
    background: #339989;
}

/* Other */

*{
    font-family: 'PT Sans', sans-serif;
}

/* Other Screen Sizes */

/* Laptops */

@media (max-width: 1350px) {

}

/* Tablets */

@media (max-width: 1024px) {

}

/* Mobile */

@media (max-width: 850px) {

}

/* Smaller Mobile */

@media (max-width: 600px) {

}
