
@font-face{
    font-family: roboto;
    src: url("../fonts/roboto.ttf");
}

#starterGradient{
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
    z-index: -1;
    background-image: linear-gradient(45deg, #763a87, #d84d1f);
}

#jakLogo{
    width: 120px;
    left: 100px;
    vertical-align: middle;
}

#homeContents{
    margin-top: 150px;
    color: white;
}

#homeContents h1{
    text-align: center;;
}

#outlineSlideshow img{
    position: absolute;
    top: 50vw;
    left: 50vh;
    display: none;
    z-index: -1;
}

#outlineSlideshow img.target{
    display: block;
}

#mech{
  width: 406px;
  margin-left: -203px;
  height: 376px;
  margin-top: -188px;
}

#static{
  width: 1404px;
  margin-left: -702px;
  height: 418px;
  margin-top: -209px;
}

#darkMode{
  width: 408px;
  margin-left: -204px;
  height: 446px;
  margin-top: -223px;
}

body{
    margin: 0px;
    padding: 0px;
}

header{
    padding: 50px;
    color: white;
}

header h1,h2{
    display: inline;
    vertical-align: middle;
}

header h1{

}

header h2{
    cursor: default;
    float: right;
    margin-right: 25px;
    margin-top: 30px;

}

header h2 a{
    cursor: pointer;
    transition: 0.5s;
    vertical-align: middle;
}

header h2 a:hover{
    opacity: 0.5;
}

*{
    font-family: roboto;
    font-weight: normal;
}
