
/* Font Imports */

@font-face{

	src: url("fonts/roboto.ttf");

	font-family: roboto;

}

/* Normal View */

/* Id's */

/* Classes */

/* Tags */

body{

	display: none;

	margin: 0px;

	width: 100vw;

	height: 100vh;

	background: #363636;

}

/* Other */

*{

	font-family: roboto;

}

/* Mobile View */

@media only screen and (max-width: 600px){

	/* Id's */

	/* Classes */

	/* Tags */

	/* Other */

}
