
/* Extras CSS */

/* Ids */

#extrasBox{
	
	margin: auto;
	
	height: 135px;
	
	background: #75b5ff;
	
	margin-top: 50px;
	
}

#extrasSecondBox{
	
	background: #428aff;
	
	color: white;
	
	border-radius: 20px;
	
	width: 300px;
	
	height: 120px;
	
	margin: auto;
	
	margin-top: 40px;
	
}

#wallpapersBox{
	
	background: #00ccb7;
	
	border-radius: 5px;
	
	margin: auto;
	
	margin-top: 25px;
	
	width: 1000px;
	
	height: 1425px;
	
}

#wallpaperBoxHeader{
	
	padding-left: 0px;
	
	text-align: center;
	
}

/* Containers */

#extrasContainer{
	
	margin: auto;
	
	display: none;
	
	width: 1100px;
	
	height: 1800px;
	
	background: orange;
	
}

/* Classes */

/* MobileView */

@media only screen and (max-width: 600px){
	
	#extrasContainer{
		
		width: 300px;
		
		height: 1800px;
	
	}
	
	#extrasBox{
		
		width: 300px;
		
		height: 125px;
	
	}

	#extrasSecondBox{
		
		height: 100px;
		
	}
	
}

/* Other */

