
/* Fonts */

@font-face {
	
	font-family: "roboto";
	
	src: url("fonts/roboto.ttf");
	
}

/* Ids */

#mainIcon{
	
	width: 120px;
	
	height: 100px;
	
}

/* Classes */

.headerButton{
	
	color: #212121;
	
	font-size: 25px;
	
	transition: 0.5s ease;
	
	text-decoration: none;
	
	cursor: pointer;
	
}

.headerButton:hover{
	
	color: #c2c2c2;
	
}

/* Other */

h1{
	
	cursor: default;
	
}

*{
	
	font-family: roboto;
	
	font-weight: light;
	
}
