
/* Fonts */

@font-face {
	
	font-family: "roboto";
	
	src: url("fonts/roboto.ttf");
	
}

/* Ids */

#mainIcon{
	
	width: 100px;
	
	height: 80px;
	
	position: absolute;
	
	top: 10px;
	
}

#previewImage{
	
	display: block;
	
	margin: auto;
	
	width: 1100px;
	
	height: 600px;
	
	border: 5px solid #a5a5a5;
	
}

#homeContainer{
	
	margin: auto;
	
	padding-bottom: 50px;
	
}

#homePageQuote{
	
	text-align: center;
	
	font-size: 35px;
	
}

/* Classes */

.headerButton{
	
	color: #212121;
	
	font-size: 25px;
	
	transition: 0.5s ease;
	
	text-decoration: none;
	
	cursor: pointer;
	
}

.headerButton:hover{
	
	color: #c2c2c2;
	
}

/* Mobile view */

@media only screen and (max-width: 600px) {
	
	#previewImage{
		
		width: 350px;
		
		height: 200px;
	
	}
	
	#homePageQuote{
		
		font-size: 18px;
		
	}
	
	.mainMenu{
		
		font-family: 30px;
		
	}
	
}

/* Other */

h1{
	
	cursor: default;
	
}

h2{
	
	cursor: default;
	
}

h3{
	
	cursor: default;
	
}

*{
	
	font-family: roboto;
	
	font-weight: light;
	
}
