
/* Extras CSS */

/* Ids */

#extrasBox{
	
	margin: auto;
	
	height: 135px;
	
	background: #75b5ff;
	
	margin-top: 50px;
	
}

#extrasSecondBox{
	
	background: #428aff;
	
	color: white;
	
	border-radius: 20px;
	
	width: 300px;
	
	height: 100px;
	
	margin: auto;
	
	margin-top: 40px;
	
}

#wallpapersBox{
	
	background: #00ccb7;
	
	border-radius: 5px;
	
	margin: auto;
	
	margin-top: 25px;
	
	width: 1000px;
	
	height: 1400px;
	
}

#wallpaperBoxHeader{
	
	padding-left: 0px;
	
	text-align: center;
	
}

/* Containers */

#extrasContainer{
	
	margin: auto;
	
	display: none;
	
	width: 1100px;
	
	height: 1800px;
	
}

/* Classes */

.wallpaperPreview{
	
	display: inline-block;
	
	width: 300px;
	
	height: 175px;
	
	margin: auto;
	
	margin-left: 15px;
	
	border: 5px solid white;
	
}

.previewRow{
	
	display: block;
	
	margin: auto;
	
	margin-bottom: 25px;
	
	width: 1000px;
	
}

.wallpaperDownload{
	
	display: inline-block;
	
	margin-top: 10px;
	
	margin-left: 0px;
	
	text-align: center;
	
	background: #666666;
	
	width: 100px;
	
	height: 35px;
	
	text-decoration: none;
	
	padding-top: 10px;
	
	color: white;
	
	border-radius: 5px;
	
	transition: 0.5s ease;
	
}

.wallpaperDownload:hover{
	
	background: #b2b2b2;
	
}

.wallpaperDownload:active{
	
	background: #cccccc;
	
}

.columnOneDownload{ margin-left: 110px; }

.columnTwoDownload{ margin-left: 230px; }

.columnThreeDownload{margin-left: 230px; }

.lastColumnButton{ margin-left: 110px; }

.lastPreviewRow{ width: 333px; }

/* MobileView */

@media only screen and (max-width: 600px){
	
	#extrasContainer{
		
		width: 300px;
		
		height: 1000px;
	
	}
	
	#extrasBox{
		
		width: 300px;
		
		height: 125px;
	
	}

	#extrasSecondBox{
		
		height: 75px;
		
	}
	
	#wallpapersBox{
		
		width: 300px;
		
		height: 625px;
		
	}
	
	.wallpaperPreview{
		
		width: 85px;
		
		height: 50px;
		
		border: 2px solid white;
		
		margin-left: 6px;
		
	}
	
	.previewRow{
		
		width: 300px;
		
	}
	
	.wallpaperDownload{
		
		width: 70px;
		
		height: 20px;
		
		font-size: 10px;
		
		padding-top: 5px;
		
	}
	
	.columnOneDownload{ margin-left: 15px; }

	.columnTwoDownload{ margin-left: 25px; }

	.columnThreeDownload{margin-left: 25px; }
	
	.lastColumnButton{ margin-left: 15px; }
	
	.lastPreviewRow{ width: 100px; }
	
}

/* Other */

