
/* Fonts */

/* Ids */

#quote{
  text-align: center;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 26px;
  transition: 0.5s;
}

#splash{
  width: 1280px;
  height: 720px;
  display: block;
  margin: auto;
  border: 2px solid #303030;
  background-image: url('../img/wallpapers/NeonBoardSD.png');
  background-size: cover;
  transition: 0.5s;
  border-radius: 3px;
}

/* Classes */

/* Tags */

/* Other */

/* Other Screen Sizes */

/* Laptops */

@media (max-width: 1350px) {

  #splash{
    width: 960px;
    height: 540px;
  }

}

/* Tablets */

@media (max-width: 1024px) {

  #splash{
    width: 810px;
    height: 480px;
  }

}

/* Mobile */

@media (max-width: 850px) {

  #splash{
    width: 480px;
    height: 810px;
    background-image: url('../img/wallpapers/CodeBlockMobileSD.png');
  }

}

/* Smaller Mobile */

@media (max-width: 600px) {

  #splash{
    width: 325px;
    height: 548px;
  }

}
