
/* Ids */

#about{
    height: 80%;
    background-color: #5dd4c0;
    color: #303030;
}

#about hr{
    border-color: #303030;
}

/* Classes */

.about-header{
    font-size: 26px;
    text-align: center;
}

/* Tags */

/* Animations */

/* Other */

/* Mobile */


