
/* Fonts */

/* Ids */

/* Classes */

.large{
  width: 1000px;
}

.medium{
  width: 800px;
}

.small{
  width: 600px;
}

.mini{
  width: 400px;
}

/* Tags */

article{
  margin: auto;
  margin-top: 50px;
  width: 800px;
  padding: 5px;
  padding-left: 20px;
  padding-right: 20px;
  background: white;
  border: 1px solid #e2e2e2;
  border-radius: 7.5px;
}

article h2{
  text-align: center;
  margin-bottom: 0px;
}

article p{
  line-height: 150%;
}

/* Other */

/* Other Screen Sizes */

/* Laptops */

@media (max-width: 1350px) {

}

/* Tablets */

@media (max-width: 1024px) {

}

/* Mobile */

@media (max-width: 850px) {

  .medium{
    width: 500px;
  }

  .small{
    width: 400px;
  }

  .mini{
    width: 300px;
  }

}

/* Smaller Mobile */

@media (max-width: 600px) {

  .medium{
    width: 275px;
  }

  .small{
    width: 275px;
  }

  .mini{
    width: 250px;
  }

}
