
#main{
    padding-bottom: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#main figure img{
    display: inline-block;
    vertical-align: middle;
    width: 100px;
    height: 100px;
}

#main figure figcaption{
    font-size: 32px;
    display: inline-block;
    vertical-align: middle;
    margin-left: 10px;
}

#main hr{
    width: 75%;
    border: 1px solid lightgray;
    margin-bottom: 25px;
}

#web-version{
    background: white;
    color: #151515;
    font-weight: lighter;
    font-size: 26px;
    padding: 20px;
    border: 1px solid lightgray;
    text-decoration: none;
    border-radius: 15px;
    transition: 0.5s background-color, 0.5s border-color;
}

#web-version:hover{
    background-color: whitesmoke;
}

#web-version.blue:active{
    background-color: lightskyblue;
    border-color: royalblue;
}


#web-version.green:active{
    background-color: lightgreen;
    border-color: green;
}

#web-version.grey:active{
    background-color: lightgrey;
    border-color: grey;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
}

footer{
    position: absolute;
    bottom: 10px;
    text-align: center;
    opacity: 0.5;
    line-height: 200%;
}

*{
    font-family: sans-serif;
}

