
.dark, .dark *{
    color: #fcfaff;
    border-color: #fcfaff;
}

.dark{
  background-color: #303030;
}

.dark #menu a:hover{
  color: #66498b;
}

.dark #splash{
  border-color: white;
  background-image: url("../img/wallpapers/RetroSun.png");
}

.dark header{
  background: #333333;
  padding: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #2e2e2e;
}

@media (max-width: 768px) {

  .dark #splash{
    background-image: url("../img/wallpapers/RetroSunMobile.png");
  }

}
