
.dark, .dark * {
    background-color: #303030;
    color: #fcfaff;
    border-color: #fcfaff;
}

.dark #splash{
  border-color: white;
  background-image: url("../img/wallpapers/RetroSun.png");
}

@media (min-width: 480px) and (max-width: 768px) {

  .dark #splash{
    background-image: url("../img/wallpapers/RetroSunMobile.png");
  }

}
