/* Ids */

#home{
    background-image: url('../img/wallpapers/CodeBlock/CodeBlock-4K.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
}

/* Classes */

/* Tags */

body{
    margin: 0px;
    background-color: whitesmoke;
}

header{
    border-bottom: 1px solid darkgrey;
    position: fixed;
    width: 100%;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}

header img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
}

header a{
    text-decoration: none;
    font-size: 24px;
    margin: 30px;
    color: #303030;
    transition: opacity 0.5s;
}

header a:hover{
    opacity: 0.6;
}

/* Other */

*{
    font-family: 'Open Sans', sans-serif;
    color: #303030;
}

/* Other Screen Sizes */

/* Laptops */

@media (max-width: 1350px) {

}

/* Tablets */

@media (max-width: 1024px) {

}

/* Mobile */

@media (max-width: 850px) {

}

/* Smaller Mobile */

@media (max-width: 600px) {

}
