/* Ids */

#copyright{
    text-align: center;
    font-size: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
}

/* Classes */

.card{
    width: 1080px;
    box-sizing: border-box;
    padding: 25px;
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 15px;
    display: block;
    margin: auto;
}

/* Tags */

html{
    scroll-behavior: smooth;
}

body{
    margin: 0px;
    background-color: whitesmoke;
    overflow-x: hidden;
}

header{
    border-bottom: 1px solid darkgrey;
    z-index: 5;
    position: fixed;
    width: 100%;
    left: 0px;
    background-color: white;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    animation: slide-down 1s 1s ease-out;
    animation-fill-mode: forwards;
}

header img{
    width: 40px;
    height: 40px;
    vertical-align: middle;
    display: inline-block;
}

header a{
    text-decoration: none;
    font-size: 24px;
    margin: 30px;
    color: #121212;
    transition: opacity 0.5s;
}

header a:hover{
    opacity: 0.6;
}

h1, h2, h3{
    font-weight: normal;
}

hr.small{
    width: 25%;
}

hr.medium{
    width: 50%;
}

hr.large{
    width: 75%;
}

/* Other */

*{
    font-family: 'Open Sans', sans-serif;
    color: #121212;
}

/* Other Screen Sizes */

/* Laptops */

@media (max-width: 1350px) {

    .card{

    }

}

/* Tablets */

@media (max-width: 1024px) {

}

/* Mobile */

@media (max-width: 850px) {

}

/* Smaller Mobile */

@media (max-width: 600px) {

}
