
/* Fonts */

@font-face{
  src: url('../fonts/Roboto/Roboto-Light.ttf');
  font-family: 'Roboto Light';
}

@font-face{
  src: url('../fonts/Roboto/Roboto-Thin.ttf');
  font-family: 'Roboto Thin';
}

/* Ids */

#icon{
  width: 130px;
  height: 83.75px;
  display: inline;
  vertical-align: middle;
  margin-top: 10px;
  margin-left: 10px;
}

#title{
  display: inline;
  vertical-align: middle;
}

#copyright{
  text-align: center;
  margin: 10px;
  margin-top: 30px;
}

#links{
  text-align: center;
  font-size: 35px;
  cursor: default;
  margin: 10px;
}

#links a{
  color: #303030;
  transition: 0.5s;
}

#links a:hover{
  opacity: 0.75;
}

#links a:active{
  opacity: 0.5;
}

#menu{
  font-size: 25px;
  float: right;
  margin-right: 25px;
  margin-top: 30px;
  cursor: default;
}

#menu a{
  cursor: pointer;
  margin-left: 5px;
  margin-right: 5px;
  transition: 0.25s;
}

#menu a:hover{
  color: #ae444c;
}

#menu a:active{
  opacity: 0.7;
}

/* Classes */

.selected{
  text-decoration: underline;
}

.mobileBreak{
  display: none;
}

/* Tags */

header{
  display: inline-block;
  margin: 0px;
  width: 100%;
  background: white;
  padding-top: 10px;
  padding-bottom: 15px;
  border-bottom: 1px solid #e2e2e2;
}

body{
  background: #f4f4f4;
  margin: 0px;
  padding: 0px;
  transition: 0.5s;
}

/* Other */

*{
  font-family: 'Roboto Light', sans-serif;
  font-weight: normal;
}

/* Other Screen Sizes */

/* Laptops */

@media (max-width: 1350px) {

}

/* Tablets */

@media (max-width: 1024px) {

}

/* Mobile */

@media (max-width: 850px) {

  #menu{
    margin: 0px;
    margin-top: 20px;
    float: none;
  }

  .mobileBreak{
    display: block;
  }

  header{
    text-align: center;
    padding-bottom: 5px;
  }

  *{
    font-family: 'Roboto Thin';
  }

}

/* Smaller Mobile */

@media (max-width: 600px) {

  #menu{
    font-size: 18px;
  }

  #menu a{
    margin-left: 0px;
    margin-right: 0px;
  }

  #icon{
    width: 77px;
    height: 50px;
  }

  #quote{
    font-size: 24px;
  }

}
