/* Home */

#home{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home #splash{
    margin: 0px;
}

#home #splash figcaption{
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
}

#home #splash img{
    border-radius: 15px;
}

#home #splash img.desktop{
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 1080px;
    height: 608px;
}

#home #splash img.mobile{
    display: none;
}

/* About */

#about h1{
    font-size: 26px;
    text-align: center;
}

/* Software */

#software h1{
    font-size: 26px;
    text-align: center;
}

#software .contents{
    display: flex;
}

#software .contents .text{
    width: 50%;
}

#software .contents .blocks{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#software .contents .blocks .block{
    width: 50px;
    height: 50px;
    background: green;
    border: 1px solid black;
}

/* Wallpapers */

#wallpapers h1{
    font-size: 26px;
    text-align: center;
}

/* Contact Us*/

#contact-us h1{
    font-size: 26px;
    text-align: center;
}

#contact-us p{
    font-size: 18px;
    text-align: center;
}

/* Other Screen Sizes */

/* Laptops */

@media (max-width: 1350px) {

    #home #splash img.desktop{
        width: 960px;
        height: 540px;
    }

}

/* Mobile */

@media (max-width: 1080px) {

    #home{
        display: block;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    #home #splash img.desktop{
        display: none;
    }

    #home #splash img.mobile{
        display: block;
        margin: auto;
        margin-top: 25px;
        width: 500px;
        height: 1080px;
    }

}

/* Smaller Mobile */

@media (max-width: 600px) {

    #home #splash img.mobile{
        width: 351px;
        height: 760px;
    }

}