/* Home */

#home{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home #splash{
    margin: 0px;
    padding-top: 25px;
}

#home #splash figcaption{
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
}

#home #splash img{
    border-radius: 15px;
}

#home #splash img.desktop{
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 1080px;
    height: 608px;
}

#home #splash img.mobile{
    display: none;
}

/* About */

#about{
    padding-top: 75px;
}

#about .contents{
    padding: 25px;
    padding-top: 0px;
    padding-bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#about .text{
    display: inline-block;
}

#about .text h1{
    font-size: 32px;
    margin: 0px;
}

#about .text h2{
    font-size: 24px;
}

#about .text hr{
    width: 25%;
    margin-top: 25px;
    margin-bottom: 25px;
}

#about .text hr.left{
    margin-left: 0px;
}

#about .text p{
    font-size: 16px;
    margin: 0px;
}

#about .top-words, .bottom-words{
    display: flex;
    flex-direction: row;
}

#about .top-words article, #about .bottom-words article{
    width: 50%;
    padding: 10px;
    box-sizing: border-box;
}

#about .grid{
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 25px 50px;
    align-items: center;
    justify-content: center;
    padding: 25px;
    padding-bottom: 0px;
    padding-left: 50px;
}

#about .circle{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#about .circle img{
    width: 100px;
    height: 100px;
    background-color: whitesmoke;
    border: 1px solid darkgrey;
    padding: 25px;
    border-radius: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    transition: 0.3s border-radius;
}

#about .circle span{
    margin: 10px;
    opacity: 0;
    transition: 0.3s opacity;
    cursor: default;
}

#about .circle:hover > img{
    border-radius: 0px;
}

#about .circle:hover > span{
    opacity: 1;
}

/* Apps */

#apps{
    padding-top: 75px;
}

#apps .contents{
    display: flex;
    margin-top: 50px;
    margin-bottom: 0px;
    justify-content: center;
    align-items: center;
}

#apps .grid{
    display: grid;
    grid-template-columns: 175px 175px;
    grid-gap: 25px 75px;
    align-items: center;
    justify-content: center;
}

#apps .block{
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#apps .block img{
    width: 125px;
    height: 125px;
    padding: 25px;
    transition: 0.3s border-radius;
    background-color: whitesmoke;
    border: 1px solid darkgrey;
    cursor: pointer;
}

#apps .block span{
    margin: 10px;
    opacity: 0;
    transition: 0.3s opacity;
    cursor: default;
}

#apps .block a:hover > img{
    border-radius: 50px;
}

#apps .block a:hover + span{
    opacity: 1;
}

/* Wallpapers */

#wallpapers{
    padding-top: 75px;
}

#wallpapers .contents{
    margin: 50px;
    margin-top: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#wallpapers .wallpaper{
    position: relative;
    margin: 50px;
}

#wallpapers .wallpaper img{
    width: 850px;
    height: 478px;
    border-radius: 20px;
}

#wallpapers .hover-settings{
    transition: 0.25s opacity;
    opacity: 0;
}

#wallpapers .wallpaper figcaption{
    position: absolute;
    width: 100%;
    color: white;
    top: 15px;
    font-size: 28px;
    font-weight: lighter;
    text-align: center;
}

#wallpapers .buttons{
    position: absolute;
    bottom: 15px;
    right: 15px;
}

#wallpapers .buttons button{
    margin: 10px;
    border-width: 0px;
    border-radius: 20px;
}

#wallpapers .wallpaper:hover > .hover-settings{
    opacity: 1;
}

/* Other Screen Sizes */

/* Laptops */

@media (max-width: 1350px) {

    #home #splash img.desktop{
        width: 960px;
        height: 540px;
    }

}

/* Mobile */

@media (max-width: 1080px) {

    #home{
        display: block;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    #home #splash img.desktop{
        display: none;
    }

    #home #splash img.mobile{
        display: block;
        margin: auto;
        margin-top: 25px;
        width: 500px;
        height: 1080px;
    }

}

/* Smaller Mobile */

@media (max-width: 600px) {

    #home #splash img.mobile{
        width: 351px;
        height: 760px;
    }

}