/* Home */

#home{
    margin: 0px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

#home #splash{
    margin: 0px;
    padding-top: 25px;
}

#home #splash figcaption{
    text-align: center;
    font-size: 36px;
    font-weight: lighter;
}

#home #splash img{
    border-radius: 15px;
}

#home #splash img.desktop{
    display: block;
    margin: auto;
    margin-top: 25px;
    width: 1080px;
    height: 608px;
}

#home #splash img.mobile{
    display: none;
}

/* About */

/* Software */

#software .contents{
    display: flex;
    margin-top: 75px;
}

#software .contents .text{
    width: 50%;
}

#software .contents .grid{
    width: 50%;
    display: grid;
    grid-template-columns: 150px 150px;
    grid-gap: 50px 50px;
    align-items: center;
    justify-content: center;
}

#software .contents .grid .block{
    width: 150px;
    height: 150px;
    background: whitesmoke;
    border: 1px solid darkgrey;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.25s border-radius;
}

#software .contents .grid .block:hover{
    border-radius: 40px;
}

#software .contents .grid .block img{
    width: 125px;
    height: 125px;
}

/* Wallpapers */

/* Contact Us*/

#contact-us p{
    font-size: 18px;
    text-align: center;
}

/* Other Screen Sizes */

/* Laptops */

@media (max-width: 1350px) {

    #home #splash img.desktop{
        width: 960px;
        height: 540px;
    }

}

/* Mobile */

@media (max-width: 1080px) {

    #home{
        display: block;
        padding-top: 100px;
        padding-bottom: 50px;
    }

    #home #splash img.desktop{
        display: none;
    }

    #home #splash img.mobile{
        display: block;
        margin: auto;
        margin-top: 25px;
        width: 500px;
        height: 1080px;
    }

}

/* Smaller Mobile */

@media (max-width: 600px) {

    #home #splash img.mobile{
        width: 351px;
        height: 760px;
    }

}